@import url('https://fonts.googleapis.com/css2?family=Birthstone+Bounce:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+SK:wght@100..400&display=swap');

header {
    color: white;
    text-shadow: 0 0 10px rgb(158, 2, 2);
    font-family: 'Birthstone Bounce', Arial, sans-serif;
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
}
header p {
    font-family: 'Arial';
}

body {
    margin: 0;
    background-color: #008080;
}

footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    font-size: 0.8rem;
    display: none;
}

.hush.hidden {
    display: none;
}

.hush:not(.hidden) {
    display: block;
}

.mainImage {
    width: 40%;
    margin: 20px auto;
    display: block;
    border-radius: 20px;
    box-shadow: 0px 0px 50px #00000036;
}

#confettiButton {
    margin: 20px 0;
    padding: 0;
    background: none;
    border: none;
    display: block;
    width: 100%;
    text-align: center;
}

#confettiContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
}

.confetti {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--confetti-color);
    opacity: 0.9;
    transform: rotate(45deg);
    animation: fall linear infinite;
}

.emoji {
    font-size: 2rem;
    position: absolute;
    animation: fall linear infinite;
}
.pushMe {
    background-color: red;
    font-size: 2rem;
    margin: 0 40% ;
    padding: 20px;
    color: #fff;
    box-shadow: 0 0 10px #fff;
    border-radius: 20px;
    cursor: pointer;
}


@keyframes fall {
    to {
        transform: translateY(100vh) rotate(360deg);
    }
}

@media (max-width: 768px) {
    header {
        font-size: 1.4rem;
    }

    .mainImage, .pushMe img {
        width: 80%;
    }

    footer {
        font-size: 0.7rem;
    }
    .pushMe {
        background-color: red;
        font-size: 2rem;
        margin: 20% 20% 0;
        padding: 20px;
        color: #fff;
        border-radius: 20px;
        box-shadow: 0 0 10px #fff;
    }
}

@media (max-width: 480px) {
    header {
        font-size: 1.2rem;
    }

    .mainImage, .pushMe img {
        width: 90%;
    }

    footer {
        font-size: 0.6rem;
    }
    .pushMe {
        background-color: red;
        font-size: 2rem;
        margin: 20% 20% 0;
        padding: 20px;
        color: #fff;
        border-radius: 20px;
        box-shadow: 0 0 10px black;
    }
}